.container.divider{
    height: 50px;
    background-image: url(https://d3t14gfu9ehll4.cloudfront.net/themes/876e2753-f37e-4d0c-b453-3c74c8b171c4/root_LargeDivider_IcEV0eY.png);
    background-size: auto 50px;
    background-position: center center;
    background-repeat: repeat-x;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
